In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [5]:
import sklearn

In [7]:
import seaborn as sns
%matplotlib inline

In [8]:
data = pd.read_csv('Orange_Telecom_Churn_Data.csv')

In [9]:
data.head()

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [10]:
data.shape

(4000, 21)

In [11]:
data.columns

Index(['state', 'account_length', 'area_code', 'phone_number', 'intl_plan',
       'voice_mail_plan', 'number_vmail_messages', 'total_day_minutes',
       'total_day_calls', 'total_day_charge', 'total_eve_minutes',
       'total_eve_calls', 'total_eve_charge', 'total_night_minutes',
       'total_night_calls', 'total_night_charge', 'total_intl_minutes',
       'total_intl_calls', 'total_intl_charge',
       'number_customer_service_calls', 'churned'],
      dtype='object')

In [13]:
data.describe()

,account_length,area_code,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
count,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.00000,4000.00000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000
mean,100.856250,437.301750,8.051500,180.147150,100.259250,30.625570,200.80115,100.13475,17.068300,201.069275,100.212500,9.048202,10.267075,4.459500,2.772637,1.556750
std,39.589493,42.437748,13.661204,54.399753,19.995274,9.247926,50.56086,19.85562,4.297672,50.724508,19.775505,2.282631,2.772431,2.465843,0.748482,1.306027
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.900000,87.000000,24.460000,166.57500,87.00000,14.157500,167.300000,87.000000,7.530000,8.500000,3.000000,2.300000,1.000000
50%,100.000000,415.000000,0.000000,179.750000,101.000000,30.560000,201.10000,100.00000,17.090000,200.950000,100.000000,9.045000,10.350000,4.000000,2.795000,1.000000
75%,127.000000,510.000000,19.000000,216.200000,114.000000,36.750000,234.90000,114.00000,19.970000,235.525000,114.000000,10.600000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,351.500000,165.000000,59.760000,363.70000,170.00000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [33]:
train_data = data.iloc[:,0:20]

In [34]:
train_data.head()

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [30]:
test_data  = data.iloc[:,20]

In [36]:
from sklearn.neighbors import KNeighborsClassifier

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
x , x_test ,y , y_test = train_test_split(train_data,test_data,random_state = 0,test_size=0.2)